---
layout: default
id: speakers
style: true
---
{% if site.data.speakers %}
{%- for item in site.data.speakers %}
{%- assign key = item[0] -%}
{%- assign speaker = item[1] %}
<div class="speaker" id="{{ key }}">
    {% if speaker.photo %}<img class="photo" src="images/{{ speaker.photo }}" />{% endif %}
    <h2>{{ speaker.name }}</h2>
    <span class="affiliation">{{ speaker.affiliation }}</span> (<a href="{{ speaker.website }}">website</a>)
    {% if speaker.cancelled %}
    <div class="cancelled">
    {{ speaker.cancelled }}
    </div>
    {% endif %}
    <p>{{ speaker.bio }}</p>
</div>
{% endfor %}
{% else %}
<p>TBD.</p>
{% endif %}
