#specifics {
    display: table;
    width: 100%;
}

#specifics > div {
    display: table-row;
}

#specifics > div > div {
    display: table-cell;
}

#specifics > div > div:first-child {
    padding-right: 20px;
}

#specifics > div > div:last-child {
    padding-left: 20px;
    width: 38%;
}

#instructions > h3 {
    text-decoration: underline;
}

.struck {
    text-decoration: line-through;
}

/* On smaller screens: don't put things side by side. */
@media only screen and (max-width:700px){
#specifics, #specifics > div, #specifics > div > div {
    display: block;
    width: 100%;
}
#specifics > div > div:first-child {
    padding-right: 0px;
}
#specifics > div > div:last-child {
    padding-left: 0px;
    width: 100%;
}
}
