---
pages:
- name: home
  id: index
- name: invited speakers
  id: speakers
- name: programme
  id: programme
- name: calls
  id: calls
- name: committees
  id: committees
- name: registration
  id: registration
---
<!doctype html>
<html lang="en">
    <head>
        <title>LearnAut 2024 {% if page.title != null %}— {{ page.title }}{% endif %}</title>

        <link rel="stylesheet" href="style/main.css" />
        {% if page.style %}
        <link rel="stylesheet" href="style/{{ page.id }}.css" />
        {% endif %}

        <meta charset="utf-8" />
    </head>
    <body>
        <header>
            <h1><a href="index.html">LearnAut 2024</a></h1>
        </header>
        <nav>
        {% for link in layout.pages %}
            <a{% if page.id == link.id %} class="active"{% endif %} href="{{ link.id }}.html">{{ link.name | capitalize }}</a>
        {% endfor %}
        </nav>
        <section id="content">
{{ content }}
        </section>
        <footer>
        Website by <a href="https://joshuamoerman.nl">Joshua Moerman</a>; please contact him if you find a mistake. Photo "Frosty Tallinn" by <a href="https://unsplash.com/@jaanus">Jaanus Jagomägi</a>.
        </footer>
    </body>
</html>
